# JSON Mini-project
Following the Springboard exercise, using the data in file 'data/world_bank_projects.json' and the learned techniques,
    (1) Find the 10 countries with most projects
    (2) Find the top 10 major project themes (using column 'mjtheme_namecode')
    (3) In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [2]:
#Import Pandas, JSON

In [3]:
import pandas as pd

In [78]:
import json
from pandas.io.json import json_normalize

In [79]:
import numpy as np

In [5]:
import os

cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd)  # Get all the files in that directory
print("Files in '%s': %s" % (cwd, files))

Files in 'C:\Users\osutr_000': ['.anaconda', '.android', '.bash_history', '.cisco', '.conda', '.condarc', '.config', '.git', '.gitconfig', '.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '.octave_hist', '.ssh', 'Anaconda3', 'AnacondaProjects', 'AppData', 'Application Data', 'Contacts', 'Cookies', 'Desktop', 'Documents', 'Downloads', 'Favorites', 'IntelGraphicsProfiles', 'iPhython Demo Workbook.ipynb', 'JSON Practice.ipynb', 'Links', 'Local Settings', 'Music', 'My Documents', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{9fa07af3-8c4a-11e6-ace0-ae8f93aec36d}.TM.blf', 'NTUSER.DAT{9fa07af3-8c4a-11e6-ace0-ae8f93aec36d}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{9fa07af3-8c4a-11e6-ace0-ae8f93aec36d}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'ODBA', 'OneDrive', 'Pictures', 'PrintHood', 'pycon-pandas-tutorial', 'Recent', 'Saved Games', 'Searches', 'SendTo', 'SkyDrive', 'Start Menu', 'Templates', 'Videos', 'world_bank_projects.json']

In [6]:
os.chdir('\\Users\osutr_000\Documents\data_wrangling_json')

In [32]:
#To answer questions 1:  Find the 10 countries with most projects
#load as dataframe and then group count of projects together based on country short name.
#Add a sort_value and head(10) to grab the top 10

In [33]:
df = pd.read_json('data/world_bank_projects.json')
df.groupby(['countryshortname']).totalcommamt.size().sort_values(ascending=False).head(10)

countryshortname
Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Africa                11
Name: totalcommamt, dtype: int64

In [20]:
#To answer questions 2:Find the top 10 major project themes (using column 'mjtheme_namecode')
#Load as data as a string
#Normalize and pull out the mjtheme_namecode dict
#To find the most common themes group on name, size, sort, and grab the top ten.

In [45]:
data = json.load((open('data\world_bank_projects.json')))
json_normalize(data, ['mjtheme_namecode']).groupby('name').size().sort_values(ascending=False).head(10)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

In [ ]:
#Question 3: In 2. above you will notice that some entries have only the code 
#and the name is missing. Create a dataframe with the missing names filled in.

In [103]:
data = json.load((open('data\world_bank_projects.json')))
df = json_normalize(data, ['mjtheme_namecode']).sort_values(['code', 'name']).replace('', np.nan)
df.fillna(method='bfill').sort_index()

     code                                          name
0       8                             Human development
1      11  Environment and natural resources management
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6         Social protection and risk management
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8                             Human development
18     10                             Rural development
19      7                   Social dev/gender/inclusion
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2                      Public sector governance
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4      Financial and private sector development
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11  Environment and natural resources management
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5                         Trade and integration
1482    6         Social protection and risk management
1483    8                             Human development
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6         Social protection and risk management
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]